Source: maratona-usuario-icpc
Section: admin
Priority: optional
Maintainer: Davi Antônio da Silva Santos <antoniossdavi@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0.1
Vcs-Git: https://github.com/DaviAntonio/maratona-usuario-icpc.git
Vcs-Browser: https://github.com/DaviAntonio/maratona-usuario-icpc

Package: maratona-usuario-icpc
Architecture: all
Depends: ${misc:Depends}, maratona-linguagens-doc, makepasswd, maratona-vscode-extensions, slay, dbus-x11
Conflicts: maratona-skel
Description: Pacote que cria um usuário icpc para o competidor da maratona
 Este pacote cria o usuário sem privilégios administrativos para competição.
 .
 Também é fornecido neste pacote alguns comandos admnistrativos:
   - zera-home-icpc : Apaga todos os arquivos do home do usuário icpc
      + este script é utilizado após o warmup para o home do usuário
      iniciar vazio durante a competição.
